/\* INFO 콜아웃 내부의 리스트 항목을 박스 형태로 표시 \*/
.markdown-preview-view .callout.info .callout-content ul > li {
  border: 1px solid var(--callout-color-info) !important;

&nbsp; background-color: var(--background-secondary) !important;

&nbsp; padding: 0.4em 0.6em;
  margin: 0.3em 0;
  border-radius: 4px;
}

